{
  "android": {
    "keystore": {
      "keystorePath": "credentials/android/keystore.jks",
      "keystorePassword": "LA_TUA_STORE_PASSWORD",
      "keyAlias": "unidesk",
      "keyPassword": "LA_TUA_KEY_PASSWORD"
    }
  }
}
